files:
  "c:/temp/QcaInstallWin.ps1":
    content: |
      Import-Module AWSPowerShell
      Read-S3Object -BucketName REPLACE_ME_BUCKET_NAME -Key REPLACE_ME_OBJECT_NAME -File c:\temp\QualysCloudAgent.exe
      Start-Process c:\temp\QualysCloudAgent.exe -ArgumentList "CustomerId=REPLACE_ME_CUSTOMER_ID ActivationId=REPLACE_ME_ACTIVATION_ID"

container_commands:
  01-execute-config-script:
    command: Powershell.exe -ExecutionPolicy Bypass -File c:\temp\QcaInstallWin.ps1
    ignoreErrors: true
    waitAfterCompletion: 0