commands:
  download:
    command: 'wget REPLACE_ME_URL -O qualys-cloud-agent.rpm --quiet --no-check-certificate >/var/log/qca.log 2>&1'  
  install:
    command: 'sudo rpm -ivh qualys-cloud-agent.rpm >> /var/log/qca.log 2>&1'
  sleep:
    command: 'sleep 60'
  activate:
    command: 'sudo /usr/local/qualys/cloud-agent/bin/qualys-cloud-agent.sh ActivationId=REPLACE_ME_ACTIVATION_ID CustomerId=REPLACE_ME_CUSTOMER_ID >>/var/log/qca.log 2>&1'